*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
}

h1 {
  margin-bottom: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: grid;
  grid-template-rows: minmax(2.5rem, auto) minmax(3.5rem, auto);
  width: 20.6rem;
  text-align: right;
}

.top .top-1 {
  background-color: aquamarine;
  border: 0.1rem black solid;
  border-bottom: none;
  padding-top: 5%;
  padding-right: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

.top .top-2 {
  background-color: bisque;
  margin-bottom: 0.3rem;
  border: 0.1rem black solid;
  padding-top: 10%;
  padding-right: 1%;
  overflow: hidden;
  font-size: 1.25rem;
  padding-bottom: 1%;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(5, 5rem);
  grid-gap: 0.2rem;
}

.equal {
  grid-column-start: 3;
  grid-column-end: 5;
}

.allClear {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  cursor: pointer;
  border: 0.1rem black solid;
  background-color: beige;
  font-size: 1.5rem;
}

button:hover {
  background-color: rgb(222, 222, 191);
}